
.mainContent{
    background-color: rgb(43, 64, 90);   
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
.inputId{
    height: 30px;
    width: 300px;
}
.formTop{
    text-align: center;
}
.arrow{
    display: flex;
}

.picture_selection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.description
{
    margin-top: 0;
    color: rgb(159, 159, 189);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px ;
}