.button{
    background-color:rgb(231, 231, 216);
    padding: 3px 3px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    cursor: pointer;
    /* margin: 5px; */
    transition: 0.5s liner;
    font-size: 15px;
} 
.button:hover{
    box-shadow: none;
    background-color: rgb(223, 216, 171);
}