.box{
    display: flex;
    margin: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.picture{
    display: flex;
    height: 80px;
    width: 100px;
    padding-bottom: 50px;
    position: relative;
    
}
/* .main_image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;

} */
