
.mainContent{
    background-color: rgb(104, 89, 89);   
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}
.inputId{
    height: 30px;
    width: 300px;
}
.formTop{
    text-align: center;
}
.arrow{
    display: flex;
}

.picture_selection{
    display: flex;
    justify-content: center;
    align-items: center;

}